/* algemeen */

* {
    padding: 0;
    margin: 0;
}

:root {
    --lila:#e3abdf;
    --groen:#155929;
    --lichtlila:#fbdbf1;
    --lichtgroen: #c8edc6;
}

h1 {
    font-family: 'Lobster', cursive;
    color: var(--groen);
    font-size: 85px;
}

h2 {
    font-family: 'Lobster', cursive;
    color: var(--groen);
    font-size: 20px;
    text-align: justify;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
}

.bovenlijn {
    background-color: var(--lila);
    padding: 10px 0 10px 75px;
    margin: 0px;
    align-items: center;
}

.titel {
    background-color: var(--lila);
    display: flex;
    align-items: center;
    width: 100%;
}

.afbeelding {
    max-width: 20%;
    background-color: var(--lila);
    margin: 0 10px;
    text-align: justify;
    display: flex;
    height: 140px;
    align-items: center;
    display: inline-block;
}

.Logo {
    width: 140px;
    height: 140px;
}

.naam {
    max-width: 80% !important;
    background-color: var(--lila);
    padding: 5px;
    margin: 0 5px;
    display: flex;
    height: 130px;
    align-items: center;
}

.horizontaal {
    background-color: var(--lichtgroen);
    float: none;
    margin: 0;
    padding: 0 1.5%;
    display: flex;
}

.link {
    font-size: 20px;
    font-family:  'Lobster', cursive;
    width: 20%;
    padding: 7px 15px;
    margin: 0px 1.5%;
}

.horizontaal .link {
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--groen);
}

a:hover, .link:hover {
    background-color: var(--lichtlila);
    color: var(--groen)
}

.content {
    padding: 30px 3.5%;
    background-color: var(--lichtlila);
    display: inline-block;
}

.informatie {
    margin: 0;
    padding: 0;
    background-color: var(--groen);
    display: inline-block;
    display: flex;
    text-align: center;
    width: 100%;
}

.byme {
    margin: 15px 33%;
    width: 33%;
    background-color: var(--groen);
    display: inline-block;
    display: flex;
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

.byme li {
    margin: 5px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: var(--lichtlila);
}

/* home */

.voorstellen {
    background-color: var(--lichtlila);
    display: inline-block;
    width: 100%;
    margin: 10px;
}

.voorbeelden {
    height: 262px;
    margin: 5px 0.5% 5px 0;
    display: flex;
    display: inline-block;
}

.flex {
    display: flex;
}

.social-media p {
    text-align: center !important;
    font-size: 17px;
    font-family:  'Lobster', cursive;
    color:  var(--lila);
}

.social-media {
    width: 50%;
    margin: 5px 0;
    padding: 7px 15px;
    background-color: var(--groen);
}

/* material */

.materialen {
    width: 100%;
}

.sostrenegrene {
    width: 16%;
    margin: 0 2px 0 0;
}

.hema {
    height: 400px;
    margin: 0 2px 0 0;
}

.action {
    width: 30%;
    margin: 0 3% 0 0
}