* {
    padding: 0;
    margin: 0;
}

:root {
    --lila:#cfb1cd;
    --groen:#155929;
    --lichtlila:#ffeffe;
    --lichtgroen: #a3d4b3;
}

h1 {
    font-family: 'Lobster', cursive;
    color: var(--groen);
    font-size: 85px;
}

h2 {
    font-family: 'Lobster', cursive;
    color: var(--groen);
    font-size: 20px;
    text-align: justify;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
}

.bovenlijn {
    background-color: var(--lila);
    padding: 10px 15px;
    margin: 0px;
    text-align: justify;
    display: flex;
}

.titel {
    background-color: var(--lila);
    margin: 0 7%;
    display: flex;
    align-items: center;
    width: 100%;
}

.naam {
    text-align: center;
    max-width: 80% !important;
    background-color: var(--lila);
    padding: 5px;
    margin: 0 5px;
    display: flex;
    height: 130px;
    align-items: center;
}

#titel {
    padding: 0;
}

h1 #grootte {
    font-size: 83px;
}

.afbeelding {
    max-width: 20%;
    background-color: var(--lila);
    margin: 0 10px;
    text-align: justify;
    display: flex;
    height: 140px;
    align-items: center;
    display: inline-block;
}

.Logo {
    width: 140px;
    height: 140px;
}

.horizontaal {
    background-color: var(--groen);
    float: none;
    margin: 0;
    padding: 0 1.5%;
    display: flex;
}

.link{
    font-size: 20px;
    font-family:  'Lobster', cursive;
    width: 14%;
    color: var(--lila);
    background-color:  var(--groen);
    padding: 7px 15px;
    margin: 0px 1.5%;
}

.horizontaal .link {
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--lila);
}

a:hover, .link:hover {
    background-color: var(--lichtlila);
    color: var(--groen)
}

.content {
    padding: 30px 3.5%;
    background-color: var(--lichtlila);
    display: inline-block;
}

.voorstellen {
    background-color: var(--lichtlila);
    display: inline block;
    width: 100%;
}

.voorbeelden {
    max-width: 19.5%;
    margin: 5px 0.5% 5px 0;
    display: flex;
    display: inline-block;
}


.informatie {
    margin: 0;
    padding: 0;
    background-color: var(--groen);
    display: inline-block;
    display: flex;
    text-align: center;
    width: 100%;
}

.byme{
    margin: 15px 33%;
    width: 33%;
    background-color: var(--groen);
    display: inline-block;
    display: flex;
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

.byme li{
    margin: 5px;
    background-color: var(--groen);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: var(--lichtlila);
}